# OPENAI 키
OPENAI_API_KEY=${OPENAI_API_KEY}

LANGSMITH_TRACING=참 또는 거짓
LANGSMITH_ENDPOINT=랭체인연결주소
LANGSMITH_API_KEY=${LANGSMITH_API_KEY}
LANGSMITH_PROJECT="프로젝트이름"

# LLamaIndex 키
LLAMA_CLOUD_API_KEY=${LLAMA_CLOUD_API_KEY}

# 허깅페이스 키 - Full Access 권한설정
HF_TOKEN=${HF_TOKEN}

# Pinecone 키
PINECONE_API_KEY=${PINECONE_API_KEY}
# 연결할 Pinecone 인덱스 이름을 저장할 때 사용 (선택 사항)
# PINECONE_INDEX_NAME=${PINECONE_INDEX_NAME}


