ipython

python-dotenv

langchain-openai
langchain-cohere
langchain-huggingface
langchain-ollama

numpy
pandas
scikit-learn

langchain
langchain-core          
langchain-classic         
langchain-community       
langchain-text-splitters
langchain-experimental  
langchain-chroma 
langchain-teddynote

faiss-cpu
chromadb
pinecone
redis

transformers
sentence-transformers

pypdf
pydantic
datasets
unstructured

langsmith



